@media (max-width: 700px) {
    #aboutmePage{
        padding: 0px 48px;
        zoom: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    #aboutmePage>img{
        width: 25em;
        height: 25em;
    }

    .aboutmeDescription>h1{
        font-size: 23px;
    }

    .presentation-text{
        font-size: 0.8em;
    }
}

@media (min-width: 701px) and (max-width: 1199px) {
    #aboutmePage{
        padding: 0px 48px;
        zoom: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    #aboutmePage>img{
        width: 30em;
        height: 30em;
    }
    
    .aboutmeDescription>h1{
        font-size: 30px;
    }

    .presentation-text{
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    #aboutmePage{
        align-items: center;
        display: flex;
    }

    #aboutmePage>img{
        margin-right: 2em;
        width: 28em;
        height: 28em;
    }

    .aboutmeDescription>h1{
        font-size: 40px;
    }

}

#aboutmePage>img{
    border-radius: 100%;
    padding: 3em;
    object-fit: cover; 
}
.aboutmeDescription{
    padding: 5em 5em 3em 0;
    text-align: justify;
    line-height: 1.6em;
    margin-left: 2em;
}

.presentation-text{
    margin-top: 2em;
    max-width: 45em;
}

.iconButtons {
    align-items: center;
  display: flex;
  cursor: pointer;
  margin-top: 1em !important;
}

.iconButtons img {
  width: 2em;
  height: 2em;
  object-fit: contain;
}

.iconButtons img[alt="linkedIn-icon"] {
  transform: scale(0.9);
}

#resumelink {
    margin-right: auto;
  background-color: #6e736648;
  border-radius: 15px;
  width: 9em;  
  max-height: max-content;
  font-size: 13.5px;
  text-align: center;
}

#resumelink > a {
  color: inherit;
  text-decoration: none;
}
