#aboutmePage{
    align-items: center;
  display: flex;
}

#aboutmePage>img{
    border-radius: 100%;
    padding: 5em;
    width: 20em;
    height: 20em;
    object-fit: cover; 

}

.aboutmeDescription{
    padding: 5em 5em 3em 0;
    text-align: justify;
    line-height: 1.6em;
}

.aboutmeDescription>h1{
    font-size: 40px;
    margin-top: 1em;
}

.aboutmeDescription p{
    text-indent: 1em;
}

.presentation-text{
    margin-top: 2em;
    max-width: 45em;
}
