@media (max-width: 700px) {
    #ContactPage>h1{
        font-size: 1.5em;
    }

    .contact-info{
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        align-items: center;
    }
    
}

@media (min-width: 701px) {
    #ContactPage>h1{
        font-size: 2.5em;
    }

    .contact-info{
        display: flex;
        gap: 3em;
    }
    
}

#ContactPage{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.3em 0.5em;
    position: relative; 
}

#ContactPage>h1{
    margin-bottom: 1em;
}

.contact-email{
    align-items: center;
    display: flex;
    flex-direction: row;   
    
}

.contact-email>p{
    font-size: 16px;
    margin-right: 0.5em;
}

.contact-email>img{
    margin-right: 0.3em;
}