#ContactButton>button{
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 8px;
    background-color: #dcd9d9;
    padding: 0.5em;
    width: 12em;
}

#ContactButton>button>img{
    height: 1.2em;
    width: 1.2em;
}

#ContactButton>button>p{
    margin-left: 0.4em;
}

