*{
  margin: 0;
  padding: 0;
  color: #6F6F6F
}

@media (max-width: 880px) {
  #bodyPage{
    background-color: #0C0C0D;  
  }
}

@media (min-width: 881px) {
  #bodyPage{
    background-color: #0C0C0D;
  }
}

html {
  scroll-behavior: smooth;
}