@media (max-width: 500px) {
#presentation {
    display: flex;
    flex-direction: column;
  }

  #presentation > div {
    justify-items: center;
  }

  #presentationLinks {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: flex-start;
  }

  .photoDraw {
    border-radius: 100%;
    width: 13em;
    height: 18em;
    padding: 2em 0;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    order: -1;
    align-self: center;
  }
}

@media (min-width: 501px) and (max-width: 999px) {
  #presentation {
    display: flex;
    flex-direction: column;
  }

  #presentation > div {
    justify-items: center;
  }

  #presentationLinks {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: flex-start;
    margin-bottom: 2em;
  }

  .photoDraw {
    border-radius: 100%;
    width: 20em;
    height: 25em;
    padding: 2em 0;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    order: -1;
    align-self: center;
  }
}

@media (min-width: 1000px) {
  #presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #presentationLinks {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
  }

  .photoDraw {
    border-radius: 100%;
    width: 26em;
    height: 30em;
    padding: 2em 0;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
  }

  #presentation h1 {
  font-size: 2.7em;
  margin-bottom: 0.2em;
}
}

#presentation h1 {
  font-size: 2.7em;
  margin-bottom: 0.2em;
}

.photoDraw:hover {
  transition: 0.8s ease-in-out;
  scale: 1.05;
}
